*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px ;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    background-color: #40424a;
}

.menu{
    display: flex;
    font-size: 20px;
}

ul.mynav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #40424a;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.name {
    font-size: 36px;
    text-align: center;
    color: #40424a;
    
}



.intro{
    background-color: #f2f7f8;
    color: #fff;
    text-align: center;
}

.intro .container {
    justify-content: space-around;
    align-items: center;
    margin: 0px 20px;
    padding: 20px;
}


ul{
    list-style-type: none;
}

li{
    margin: 10px;
}

a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: lightgray;
}


/* intro */
.img-profile{
    width: 50%;
}

.img-rounded {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.deks-profil {
    font-size: 19px;
    color: #6d6d6d;
    /* border: 1px solid red; */
    margin: 20px 0px;
    line-height: 1.2;
}


/*----------------------ABOUT---------------- */
.txt-center {
    text-align: center;
   
}

.mt-10 {
    margin-top: 50px;
}
.col-aip-6 {
    width: 800px;
}

.content-text {
    display: inline-block;
    width: 100px;
    height: 2px;
    background: #40424a;
 
}

.box-educa .box-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.box-content{
   background-color: #000;
   width: 450px;
}

.desk{
    font-size: 18px;
    line-height: 1;  
}

.bout{
    width: 380px;
    color: #40424a;
    margin-top: 130px;
    margin-right: 10px;
}
.uledu{
    text-align: left;

}

.edu-title{
    line-height: 1;
}

.edu-text{
    width: 300px;
    margin-left: 8px;
    color: lightgray;
    /* margin-top: -1px; */
}

span{
    margin-left:10px ;
}

.con{
    font-size: 50px;
    color: #40424a;
    width: 100%;
}

.smua{
    color: #40424a;
    display: flex;
      /* border: 1px solid red; */
}

.kontak{
    color: #40424a;
}






/* media screen */
/* @media screen and (max-width: 768px) {
    .intro .container {
        flex-direction: column;
        padding: 20px;
    }

    .product .container{
        flex-direction: column;
    }
    
} */

/* @media screen and (max-width: 500px) {
    .intro .container {
        flex-direction: row;
    }
    
} */
/* @media screen and (max-width: 390px) {
    img {
        width: 300px;
        height: 300px;
    }
    */
    /* }  */











